<div class='container-fluid h-100 d-flex flex-column align-items-center'>
  <div class='container-fluid mt-5 d-flex justify-content-center align-items-center'>
    <div class='container d-flex justify-content-center align-items-center flex-column'>
      <div class='input-group input-group-lg'>
        <input [(ngModel)]='typed' [value]='typed' readonly='readonly' type='text' class='form-control text-right' placeholder='0' />
      </div>
    </div>
  </div>
  <div class='container-fluid mt-5 d-flex justify-content-center align-items-center'>
    <div class='container'>
      <div class='row my-2 d-flex justify-content-center'>
        <div class='col col-lg text-center'>
          <button (click)='clear()' class='btn btn-secondary btn-lg w-100 h-100'>
            AC
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='invert()' class='btn btn-secondary btn-lg w-100 h-100'>
            +/-
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='delete()' class='btn btn-secondary btn-lg w-100 h-100'>
            X
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='divide()' class='btn btn-warning btn-lg w-100 h-100'>
            /
          </button>
        </div>
      </div>
      <div class='row my-2 d-flex justify-content-center'>
        <div class='col col-lg text-center'>
          <button (click)='join("7")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            7
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("8")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            8
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("9")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            9
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='multiplicate()' class='btn btn-warning btn-lg w-100 h-100'>
            *
          </button>
        </div>
      </div>
      <div class='row my-2 d-flex justify-content-center'>
        <div class='col col-lg text-center'>
          <button (click)='join("4")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            4
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("5")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            5
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("6")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            6
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='subtract()' class='btn btn-warning btn-lg w-100 h-100'>
            -
          </button>
        </div>
      </div>
      <div class='row my-2 d-flex justify-content-center'>
        <div class='col col-lg text-center'>
          <button (click)='join("1")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            1
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("2")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            2
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='join("3")' class='btn btn-dark btn-lg text-white w-100 h-100'>
            3
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='add()' class='btn btn-warning btn-lg w-100 h-100'>
            +
          </button>
        </div>
      </div>
      <div class='row my-2 d-flex justify-content-center'>
        <div class='col col-lg-6 text-left'>
          <button (click)='join("0")' class='btn btn-dark btn-lg text-white w-100 h-100 rounded-pill'>
            0
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='dot()' class='btn btn-dark btn-lg text-white w-100 h-100'>
            .
          </button>
        </div>
        <div class='col col-lg text-center'>
          <button (click)='calculate()' class='btn btn-warning btn-lg w-100 h-100'>
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>